/*MOBILE*/
@media screen and (max-width:900px)
{

  .header_nav 
  {
    position: absolute;
    top:0;
    right: 0;
    color: transparent;
  }
  
  /*-----------------------------menu acima----------------------------------*/

  .cor-F h1{
 
    font-size: 25px;
    color: rgb(0, 243, 32);
    margin-top: 40vh;
  }
  
   #lingu{
    text-align: center;
    justify-content: center;
    display: flex;
   }
  
  .lingu img{
    margin-left: 5px;
    margin-right: 5px;
    width: 50px;    
  }
 

/*----------------------------------sobre acima-----------------------------*/

.subTitulo{

  color: white;
  text-transform: uppercase;
  border-right: 1px solid rgb(0, 243, 32);  
  font-size: 8px;
  margin-top: 5vh;
  padding: 10px;
}

.paragrafo_projeto{
  color: white;
  font-size: 10px;
  padding: 10px;
}
.fundo_texto{
  background-color: black;
  height: 150px;
  width: 80px;
  max-width: 250px;
}

.projetos_sty img{
  max-width:350px;
  max-height:350px;
  width: 200px;
  height: 150px;
}
}


/*PC*/
@media screen and (min-width:901px)
{

  .lingu{
    margin-top: 50px;
   display: flex;
   justify-content: center;
   
  }
   
  .header_nav 
  {
  
    position: absolute;
    top:0;
    right: 0;
  
  }
  
  .header_nav li
  {
      list-style: none;/*tirar os pontos*/
      display: inline-block;
      margin-right: 10px;
  }
  
  .header_nav a
  {
    padding: 5px;
    text-decoration: none;
    color:white;
    text-transform: uppercase;
    transition: ease-in-out 0.3s;
  }
  
  .header_nav a:hover
  {
   color: rgb(0, 243, 32);
   border-radius: 10px;
   transition: ease-out 0.3s;
  }

  .subTitulo{
    color: white;
    padding: 10px;
    margin-top: 20vh;
  }

 .fundo_texto{
  background-color: black;
  width: 110px;
  }

  .paragrafo_projeto{
  padding: 10px;
  margin-top: 100px;
  color: white;
  }

  .projetos_sty img{
  max-width:600px;
  max-height:600px;  
  }
}


